@use '../base/const' as _;

nav {
    min-height: 60px;
    padding: 0 4vw;
    margin-top: 2vh;
    display: flex;
    @include _.media-query(mobile){
        justify-content: end;
    }
    align-items: center;
    ul {
        display: flex;
        flex-direction: column;
        @include _.media-query(mobile){
            flex-direction: row;
            justify-content: space-between;
        }
        
        li {
            display: block;
            padding: 10px 30px;
            margin: 2vh 2vw;
            border-radius: 15px;
            transition: .2s;
            
            @include _.media-query(mobile){
                margin: 0 1vw;
            }
        }
        li:hover, .active {
            cursor: pointer;
            background-color: _.$color-primary;
            transition: .2s;
            box-shadow: 0 8px 6px -6px black;
        }
    }
    a {
        color: white;
        text-decoration: none;
    }
}