@use '../base/const' as _;

.projects-section {
    h1 {
        margin-bottom: 10px;
    }
    a {
        text-decoration: none;
        color: _.$color_primary;
        text-overflow: ellipsis;
    }
    p {
        margin-top: 10px;
    }
    li {
        display: flex;
        align-items: flex-start;
        margin: 2vh 0;
    }
    li::before {
        content: '';
        margin-top: 4px;
        @extend .concentric-circle-icon;
    }
    .image-div {
        display: flex;
        flex-wrap: wrap;
    }
    figure {
        img {
            max-height: 300px;
            border-radius: 15px;
            max-width: 100%;
        }
        text-align: center;
    }
}