<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265396258247-bi6k0eqornnl87dl1113mqo993ngoeio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265396258247-bi6k0eqornnl87dl1113mqo993ngoeio</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Tm1p9dIoRC0I-qh-oizI-lkW_PDTpEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>265396258247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personal</string>
	<key>PROJECT_ID</key>
	<string>personal-tommaso2212</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-tommaso2212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265396258247:ios:b2d948feaa92ea30dd45e2</string>
</dict>
</plist>