//Color palette
$background-color: rgb(34,40,49);
$color-gray: rgb(57,62,70);
$color-primary: rgb(214,90,49);
$color-secondary: rgb(255,255,255);

//Width reakpoints
$breakpoints: (
    mobile: 768px,
    desktop: 992px,
    full-hd: 1200px,
);
@mixin media-query($breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    color: $color-secondary;
    padding-bottom: 5vh;
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: url('../img/background.png') no-repeat;
        background-size: contain;
        background-position: right;
    }
}

i {
    color: $color-primary;
}

//Resets
h1, h2, h3, h4, h5, h6, p, body, ul, li {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}

//Icon
.concentric-circle-icon {
    background-color: $color_primary;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: relative;
    margin: 0 20px;
    box-shadow: 0 0 0 3px rgba($color-primary, .5);
}